@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@font-face {
  font-family: "Karla";
  src: url(../assets/fonts/webfonts/Karla-Regular.woff2) format("woff2");
  src: url(../assets/fonts/ttf/Karla-Regular.ttf) format("ttf");
  src: url(../assets/fonts/variable/Karla[wght].ttf) format("ttf");
  font-weight: 400;
}

:root {
  --color-primeryLighter: hsl(148, 38%, 91%);
  --color-primeryMedium: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);
  --color-white: hsl(0, 0%, 100%);
  --color-grayMedium: hsl(186, 15%, 59%);
  --color-grayDarker: hsl(187, 24%, 22%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  background-color: var(--color-primeryLighter);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  font-size: 16px;
  font-weight: 400;
}

form {
  text-align: left;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--color-grayMedium);
  background-color: var(--color-white);
}
h2 {
  color: var(--color-grayDarker);
  font-size: 2rem;
  font-weight: 700;
}
.name-identity {
  display: flex;
  justify-content: space-between;
}
.name-identity > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 40px;
}
.requir::after {
  content: "*";
  color: var(--color-grayMedium);
  margin-left: 4px;
}
#first-name {
  margin-right: 30px;
}
#last-name {
  margin-left: 30px;
}
#last-name input,
#first-name input,
.email-identity input,
.query-item {
  padding: 12px 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--color-grayMedium);
  cursor: pointer;
  box-shadow: 3px 3px 3px var(--color-primeryLighter);
}
#last-name input:hover,
#first-name input:hover,
.email-identity input:hover,
.query-item:hover,
.message-container textarea:hover {
  border: 1px solid var(--color-grayDarker);
}
#first-name input:focus,
#last-name input:focus,
.email-identity input:focus,
.message-container textarea:focus {
  outline: none;
  border: 1px solid var(--color-primeryMedium);
}
.query-container > div {
  display: flex;
  justify-content: space-between;
}
.query-item {
  width: 100%;
}
.query-item input {
  accent-color: var(--color-primeryMedium);
}
.query-item-check {
  background-color: var(--color-primeryLighter);
  border: 1px solid var(--color-primeryMedium);
}
.general {
  margin-right: 20px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.message-container {
  margin-top: 20px;
}

label {
  color: var(--color-grayDarker);
}
.message-container textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  outline: none;
  border: 1px solid var(--color-grayMedium);
}

#check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  line-height: 1rem;
}
#check input {
  accent-color: var(--color-primeryMedium);
}
#check label {
  margin-left: 8px;
}
button {
  border: none;
  background-color: var(--color-primeryMedium);
  color: var(--color-white);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: 3px 3px 3px var(--color-primeryLighter);
}
button:hover {
  background-color: var(--color-grayDarker);
}
.inputError {
  border: 1px solid var(--color-red) !important;
}
.error {
  display: none;
  color: var(--color-red);
}
#successMassage {
  position: absolute;
  background-color: var(--color-primeryMedium);
  color: var(--color-white);
  text-align: left;
  padding: 15px 20px;
  border-radius: 10px;
  line-height: 2rem;
  top: 10px;
  left: 40%;
  display: none;
  margin: auto;
}
#successMassage h5 img {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
#successMassage h5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#successMassage p {
  font-size: 11px;
}

@media (max-width: 730px) {
  body {
    padding: 50px;
    font-size: 14px;
    font-weight: 400;
  }
  form {
    flex-wrap: wrap;
    width: 500px;
    height: auto;
    padding: 30px;
  }
  h2 {
    font-size: 1.5rem;
  }
  #successMassage {
    padding: 10px 13px;
    line-height: 1.5rem;
    top: 8px;
    display: none;
    left: 30%;
  }
  #successMassage h5 img {
    width: 13px;
    height: 13px;
    margin-right: 4px;
  }

  #successMassage p {
    font-size: 12px;
  }
}
@media (max-width: 530px) {
  form {
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    padding: 30px;
  }
  h2 {
    font-size: 1rem;
  }
  .name-identity {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #last-name,
  #first-name {
    margin: 10px 0;
  }
  .query-container > div {
    flex-wrap: wrap;
  }
  .query-item {
    margin: 10px 0;
  }
  .message-container textarea {
    width: 100%;
    height: 60px;
  }
  button {
    height: 30px;
  }
  #last-name input,
  #first-name input,
  .email-identity input,
  .query-item {
    padding: 7px 5px;
  }

  #successMassage {
    padding: 8px 10px;
    line-height: 1.5rem;
    margin: auto;
    top: 5px;
    left: 18%;
    display: none;
  }
  #successMassage h5 img {
    width: 11px;
    height: 11px;
    margin-right: 3px;
  }

  #successMassage p {
    font-size: 10px;
  }
}
